<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand" du-smooth-scroll>Ari Borchew</span>
      <ul class="nav navbar-nav">
        <li ng-repeat="section in sections" du-scrollspy="{{ section.name }}">
          <a href="#{{ section.name }}" du-smooth-scroll>{{ section.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid main-content">

  <section>
    <h2 class="text-center">Hi, I'm Ari.</h2>
    <p class="lead text-center">Web App Extraordinaire</p>
    <p class="lead text-center">Javascript Connoisseur</p>
  </section>

  <section ng-repeat="section in sections" id="{{ section.name }}">
    <h2>{{ section.label }}</h2>
  </section>

</div>