nav {
  box-shadow: 0 0 20px 10px rgb(43,62,80);
}

section {
  min-height: 768px;
}

div.main-content {
  padding: 50px;
}

ul.nav.navbar-nav {
  li {
    -webkit-transition: background, 250ms;
  }
}