<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#home" class="navbar-brand" du-smooth-scroll du-scrollspy="'home'">Ari Borchew</a>
      <ul class="nav navbar-nav">
        <li ng-repeat="section in sections" du-scrollspy="{{ section.name }}">
          <a href="#{{ section.name }}" du-smooth-scroll>{{ section.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid main-content">

  <section id="home">
    <h1 class="text-center">Hi, I'm Ari.</h1>
    <p class="lead text-center">Web App Extraordinaire<br/>Javascript Connoisseur</p>
  </section>

  <section id="skills">
    <h2 class="text-center">Skills</h2>
    <h4>Pertinent</h4>
    <ul>
      <li>
        Javascript
        <ul>
          <li>Angular.js</li>
          <li>Backbone</li>
          <li>Node.js</li>
          <li>Firebase</li>
          <li>jQuery</li>
          <li>Grunt</li>
          <li>Bower</li>
          <li>Jasmine</li>
          <li>Karma</li>
          <li>Phantom.js</li>
        </ul>
      </li>
      <li>(X/D)HTML</li>
      <li>(S)CSS</li>
      <li>Git</li>
      <li>Leadership</li>
      <li>Mentoring</li>
      <li>Data and Project Architecture</li>
      <li>Requirement Gathering</li>
    </ul>
    <h4>Not-So-Pertinent</h4>
  </section>

  <section id="interests">
    <h2 class="text-center">Interests</h2>
    <h4>Pertinent</h4>
    <h4>Not-So-Pertinent</h4>
  </section>

  <section id="background">
    <h2 class="text-center">Background</h2>
  </section>

  <section id="experience">
    <h2 class="text-center">Experience</h2>
  </section>

  <section id="contact">
    <h2 class="text-center">Contact</h2>
  </section>

</div>